swagger: '2.0'
x-default-token: 5c5c555c-p123-4123-i123-5c5c555c5c55
info:
  description: >
    This API allows access
    to odometer information data of arik-Benz vehicles to offer distance based insurance services.

    Data is categorized into resources and containers for the polling interface.
    They are defined as follows:

    * *Resource*: A resource is a single information about a vehicle. It's a
    measurement that consists of a name (also referred to as resource ID), a
    value, and an associated timestamp. See below for a list and description of
    all resources that this API provides.

    * *Container*: A container is a set of resources that are defined to group
    data for a certain use case.


    The interface is a ISO 20078-compliant REST endpoint to query the latest data for a vehicle.
    If the vehicle did not send an update for a resource within 11 hours, the response will be empty.

    ## Resources

    This is an alphabetical list of all resources that the API provides.

    Name | Description | Unit/Range

    ---- | ----------- | ----------

    odo | Odometer | 0..999999 km
  version: '1.0'
  title: Pay As You Drive Insurance API
  contact:
    name: The open API platform by arik-Benz
host: api.arik-benz.com
basePath: /vehicledata_tryout/v1
schemes:
  - https
tags:
  - name: Container Pay As You Drive Insurance
    description: Pay As You Drive Insurance service for view all Pay As You Drive Insurance vehicle data points
  - name: Resources
    description: Pay As You Drive Insurance service for view all accessible resources
  - name: Odometer resource
    description: Pay As You Drive Insurance service for view odometer resource
paths:
  '/vehicles/{vehicleId}/containers/payasyoudrive':
    get:
      tags:
        - Container Pay As You Drive Insurance
      summary: >-
        Returns all resources for the container 'insurance', data can be
        filtered for a certain time range.
      operationId: getResourcesForContainerIdUsingGET
      produces:
        - 'application/json;charset=utf-8'
      parameters:
        - name: vehicleId
          in: path
          description: Vehicle identification number
          required: true
          type: string
          x-example: WDB111111ZZZ22222
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              type: object
              properties:
                odo:
                  $ref: '#/definitions/Resource'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ExVeError'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ExVeError'
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ExVeError'
      deprecated: false
  '/vehicles/{vehicleId}/resources':
    get:
      tags:
        - Resources
      summary: >-
        Returns all available resources for the provided vehicle identification
        number.
      operationId: getAllResourcesForVinUsingGET
      produces:
        - 'application/json;charset=utf-8'
      parameters:
        - name: vehicleId
          in: path
          description: Vehicle identification number
          required: true
          type: string
          x-example: WDB111111ZZZ22222
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ResourceMetaInfo'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ExVeError'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ExVeError'
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ExVeError'
      deprecated: false
  '/vehicles/{vehicleId}/resources/odo':
    get:
      tags:
        - Odometer resource
      summary: >-
        Returns the latest available odometer resource for the provided vehicle
        identification number.
      operationId: getLatestOdometerUsingGET
      produces:
        - 'application/json;charset=utf-8'
      parameters:
        - name: vehicleId
          in: path
          description: Vehicle identification number
          required: true
          type: string
          x-example: WDB111111ZZZ22222
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              odo:
                $ref: '#/definitions/Resource'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ExVeError'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ExVeError'
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ExVeError'
      deprecated: false
definitions:
  Resource:
    type: object
    properties:
      value:
        type: string
      timestamp:
        type: integer
    title: Resource
  ResourceMetaInfo:
    type: object
    properties:
      href:
        type: string
      name:
        type: string
      version:
        type: string
    title: ResourceMetaInfo
  ExVeError:
    type: object
    properties:
      exveErrorId:
        type: string
      exveErrorMsg:
        type: string
      exveErrorRef:
        type: string
    title: ExVeError
