swagger: '2.0'
################################################################################
#                              API Information                                 #
################################################################################
info:
  version: '1.0'
  title: Vehicle Image API
  description: >-
    The vehicle images API offers access to original arik-Benz vehicle images.
    It provides access to exterior and interior images with parameters e.g. to
    display vehicles at day/nighttime or in cabrio mode.
  contact:
    name: The open API platform by arik-Benz
tags:
  - name: Vehicle Images
host: api.arik-benz.com
basePath: /vehicle_images/v1
schemes:
  - https
produces:
  - application/json

################################################################################
#                                   Paths                                      #
################################################################################
paths:
  '/vehicles/{vehicleId}':
    get:
      tags:
        - Vehicle Images
      description: >-
        Returns image IDs pointing to PNG images of a vehicle.
      parameters:
        - $ref: '#/parameters/vehicleId'
        - $ref: '#/parameters/roofOpen'
        - $ref: '#/parameters/night'
      responses:
        '200':
          description: Successful response, containing all available image IDs for the vehicle
          headers:
            X-Request-Id:
              type: string
              description: >-
                Returns a randomly generated (unique) request id that was
                assigned to the request for internal tracing and logging.
                Provide this request id for troubleshooting in a support case.
          schema:
            $ref: '#/definitions/VehicleImageResponse'
        '400':
          description: >-
            One of the provided parameters was invalid. Verify your query and
            inspect the global error object in the response for further information.
             Possible Reasons:
             * INVALID_PARAMETER
          headers:
            X-Request-Id:
              type: string
              description: >-
                Returns a randomly generated (unique) request id that was
                assigned to the request for internal tracing and logging.
                Provide this request id for troubleshooting in a support case.
          schema:
            $ref: '#/definitions/Error'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          description: >-
            One of the following reason applies:
            * The requested vehicleId (FIN/VIN) could not be resolved to an existing vehicle.
            * No image(s) could be retrieved for the given vehicleId and parameters.
          headers:
            X-Request-Id:
              type: string
              description: >-
                Returns a randomly generated (unique) request id that was
                assigned to the request for internal tracing and logging.
                Provide this request id for troubleshooting in a support case.
          schema:
            $ref: '#/definitions/Error'
        '429':
          $ref: '#/responses/SpikeArrestLimitExcceeded'
        '500':
          $ref: '#/responses/InternalServerError'
        '503':
          $ref: '#/responses/ServiceUnavailable'
  '/images/{imageId}':
    get:
      tags:
        - Vehicle Images
      description: >-
        Returns a vehicle image belonging to the given imageId.
        An imageId is valid only for 24 hours.
      produces:
        - image/png
        - application/json
      parameters:
        - $ref: '#/parameters/imageId'
      responses:
        '200':
          description: Successful response with the requested png image
          headers:
            X-Request-Id:
              type: string
              description: >-
                Returns a randomly generated (unique) request id that was
                assigned to the request for internal tracing and logging.
                Provide this request id for troubleshooting in a support case.
          schema:
            type: file
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          description: >-
            The requested imageId could not be resolved or the imageId is expired.
          headers:
            X-Request-Id:
              type: string
              description: >-
                Returns a randomly generated (unique) request id that was
                assigned to the request for internal tracing and logging.
                Provide this request id for troubleshooting in a support case.
          schema:
            $ref: '#/definitions/Error'
        '429':
          $ref: '#/responses/SpikeArrestLimitExcceeded'
        '500':
          $ref: '#/responses/InternalServerError'
        '503':
          $ref: '#/responses/ServiceUnavailable'
################################################################################
#                                 Parameters                                   #
################################################################################
parameters:
  vehicleId:
    name: vehicleId
    description: >-
        The FIN or VIN of one specific vehicle.
    in: path
    required: true
    type: string
  night:
    name: night
    default: false
    description: >-
      Set 'true', if you are looking for images with a darker background and
      the vehicle's headlights turned on. Default is 'false'.
    in: query
    required: false
    type: boolean
  roofOpen:
    name: roofOpen
    default: false
    description: >-
      Set 'true', if you are looking for images with the roof open. This option
      is only valid for cabrios. Default is 'false'.
    in: query
    required: false
    type: boolean
  imageId:
    name: imageId
    description: >-
        Id representing a vehicle image.
    in: path
    required: true
    type: string
################################################################################
#                                 Responses                                    #
################################################################################
responses:
  InternalServerError:
    description: >-
      Server encountered an internal error.
    headers:
      X-Request-Id:
        type: string
        description: >-
          Returns a randomly generated (unique) request id that was
          assigned to the request for internal tracing and logging.
          Provide this request id for troubleshooting in a support case.
    schema:
      $ref: '#/definitions/Error'
  ServiceUnavailable:
    description: >-
      Service is currently not available.
    headers:
      X-Request-Id:
        type: string
        description: >-
          Returns a randomly generated (unique) request id that was
          assigned to the request for internal tracing and logging.
          Provide this request id for troubleshooting in a support case.
    schema:
      $ref: '#/definitions/Error'
  SpikeArrestLimitExcceeded:
    description: >-
      The service received too many requests in a given amount of time.
    headers:
      X-Request-Id:
        type: string
        description: >-
          Returns a randomly generated (unique) request id that was
          assigned to the request for internal tracing and logging.
          Provide this request id for troubleshooting in a support case.
    schema:
      $ref: '#/definitions/Error'
  Forbidden:
    description: >-
      Forbidden
    headers:
      X-Request-Id:
        type: string
        description: >-
          Returns a randomly generated (unique) request id that was
          assigned to the request for internal tracing and logging.
          Provide this request id for troubleshooting in a support case.
    schema:
      $ref: '#/definitions/Error'
  Unauthorized:
    description: >-
      Unauthorized:
        * Failed to resolve API Key query parameter
        * Invalid API Key
    headers:
      X-Request-Id:
        type: string
        description: >-
          Returns a randomly generated (unique) request id that was
          assigned to the request for internal tracing and logging.
          Provide this request id for troubleshooting in a support case.
    schema:
      $ref: '#/definitions/Error'
################################################################################
#                                 Definitions                                  #
################################################################################
definitions:
  VehicleImageResponse:
    description: >-
      The response object contains the image ids of all available perspectives.
    type: object
    properties:
      EXT000 :
        $ref: '#/definitions/ImageId'
      EXT090 :
        $ref: '#/definitions/ImageId'
      EXT150 :
        $ref: '#/definitions/ImageId'
      EXT180 :
        $ref: '#/definitions/ImageId'
      EXT270 :
        $ref: '#/definitions/ImageId'
      EXT330 :
        $ref: '#/definitions/ImageId'
      INT1 :
        $ref: '#/definitions/ImageId'
      INT2 :
        $ref: '#/definitions/ImageId'
      INT3 :
        $ref: '#/definitions/ImageId'
      INT4 :
        $ref: '#/definitions/ImageId'
  ImageId:
    description: >-
      String representing the image id.
    type: string
  Error:
    type: object
    description: The error object containing detailed information about the error.
    properties:
      errorCode:
        type: string
      errorMessage:
        type: string
